@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  color: #69707D;
  background-color: #ffffff;
}

button {
  font-family: 'Kumbh Sans', sans-serif;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
